@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,greek,cyrillic,latin-ext);

h1, h2, h3, h4, h5, p, span, div {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: normal;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#main-title {
    margin-bottom: 10px;
    font-family: 'Helvetica';
    font-weight: bold;
}

#ipa {
    color: #999;
}
