{% extends 'base.html' %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="span12">
      <h2>About anapNEO</h2>
      <h3>What?</h3>
      <p>anapNEO <span id="ipa">[anapɴeo]</span> is a web-based platform that enables citizen astronomers to register, submit findings, and help rank the findings of other citizen astronomers. Everyone is free to participate by easily creating an account and start submitting data, and rating already submitted ones.</p>
      <h3>Why?</h3>
      <p>There have been many discoveries of Near Earth Objects (NEOs, such as comets and asteroids) by citizen astronomers across the world who have observed them using widely-available telescopes. NASA, and the greater international space community, receive a number of reported new objects each and every day. By leveraging the citizen astronomy community to centrally report and help vet these observations, scientists would be able to more effectively research and track Near Earth Objects.</p>
      <p>anapNEO was developed as part of the <a href="http://spaceappschallenge.org/challenge/citizen-generated-database-near-earth-objects/">Space Apps Challenge 2013 on a Citizen Generated DB of Near Earth Objects</a></p>
      <h3>How?</h3>
      <p>Through open source technologies like:
      <ul>
        <li><a href="https://www.djangoproject.com/">Django</a></li>
        <li><a href="https://developer.mozilla.org/en-US/"></a>HTML & CSS</li>
        <li><a href="https://developer.mozilla.org/en-US/"></a>JS</li>
        <li><a href="http://lesscss.org/">lessCSS</a></li>
      </ul>
      <h3>Who?</h3>
      <p>Core team during the development process:</p>
      <ul>
        <li>Alexandros 'achronop' Chronopoulos</li>
        <li>Axilleas Pipinellis</li>
        <li>Nikos 'comzeradd' Roussos</li>
        <li>John 'nemo' Giannelos</li>
        <li>Pierros Papadeas</li>
        <li>John Botanakis</li>
        <li>Yiannis Belias</li>
      </ul>
    </div>
  </div>
</div> <!-- /container -->
{% endblock %}
