{% extends 'base.html' %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="span7">
      <h3>Observations</h3>
    </div>
    <div id="dashboard-toolkit" class="span5">
      {% if user.is_authenticated %}
        <a id="dashboard-create" href="/neo/create/" class="btn btn-primary">submit new</a>
      {% endif %}
      <input type="text" placeholder="Search" class="input-medium search-query">
    </div>
  </div>
  <div>
  </div>
  <table class="table table-striped">
    <thead>
      <th>Observation Date</th>
      <th>Score (%)</th>
      <th>Submitter</th>
      <th>R.A.</th>
      <th>Dec</th>
      <th>Mag</th>
      <th>Latest Observation</th>
      <th>Observations #</th>
      <th>Arc</th>
      <th>Nominal H</th>
    </thead>
    <tbody>
      {% for neo in neos %}
        <tr>
          <td>{{ neo.observation_date }}</td>
          <td>{{ neo.score }}</td>
	  <td><a href="/u/{{ neo.display_name }}/">{{ neo.display_name }}</a></td>
          <td>{{ neo.position_ra }}</td>
          <td>{{ neo.position_dec }}</td>
          <td>{{ neo.magnitude }}</td>
          <td>{{ neo.updated }}</td>
          <td>{{ neo.num_obs }}</td>
          <td>{{ neo.arc }}</td>
          <td>{{ neo.nominal_h }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div> <!-- /container -->
{% endblock %}
