{% extends 'base.html' %}

{% block main %}
  <div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <h1 id="main-title">anapNEO</h1>
      <p>anapNEO <span id="ipa">[anapɴeo]</span> is a web-based platform that enables citizen astronomers to register, submit findings, and help rank the findings of other citizen astronomers. </p>
      <p><a href="/about/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
      <div class="span4">
        <h2>NEOs</h2>
        <p>A near-Earth object (NEO) is a Solar System object whose orbit brings it into proximity with the Earth.</p>
        <p>All NEOs have a closest approach to the Sun (perihelion) of less than 1.3 AU. They include a few thousand near-Earth asteroids (NEAs), near-Earth comets, a number of solar-orbiting spacecraft, and meteoroids large enough to be tracked in space before striking the Earth.</p>
        <p><a class="btn" href="http://en.wikipedia.org/wiki/Near-Earth_object">Learn more &raquo;</a></p>
      </div>
      <div class="span4">
        <h2>Join Us!</h2>
        <p>Here be detailed instructions on how to join us and submit data!</p>
        <p>Here be detailed instructions on how to join us and submit data!</p>
        <p>Here be detailed instructions on how to join us and submit data!</p>
        <p>Here be detailed instructions on how to join us and submit data!</p>
        <p><a class="btn" href="#">View instructions &raquo;</a></p>
     </div>
      <div class="span4">
        <h2>Latest observations</h2>
        <table class="table table-striped">
          <thead>
            <th>ID</th>
            <th>Score (%)</th>
            <th>Submitter</th>
            <th>R.A.</th>
            <th>Dec</th>
          </thead>
          <tbody>
            {% for neo in neo_list %}
              <tr>
                <td>{{ neo.no }}</td>
                <td>{{ neo.score }}</td>
                <td><a href="/u/{{ neo.display_name }}/">{{ neo.display_name }}</a></td>
                <td>{{ neo.position_ra }}</td>
                <td>{{ neo.position_dec }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <p><a class="btn" href="/dashboard/">View all &raquo;</a></p>
      </div>
    </div>
  </div>
{% endblock %}
